<div id="page-content" ng-controller="CategoriesController as vm" ng-init="vm.init()">
  <div class="content-header">
    <div class="header-section">
      <div class="row">
        <div class="col-md-4 col-lg-6 hidden-xs hidden-sm">
          <h1>List of categories<br><small>You Look Awesome!</small></h1>
        </div>
      </div>
    </div>
  </div>
  <div class="block">
    <button class="btn btn-primary" ng-click="vm.newCategory()">
      <i class="fa fa-plus"></i> Add
    </button>
    <div class="table-responsive">
      <table class="table table-vcenter table-striped">
        <thead>
          <tr>
            <th class="text-center">Id</th>
            <th>Name</th>
            <th>Slug</th>
            <th class="text-center">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="category in vm.categories track by category.id">
            <td class="text-center" ng-bind="category.id"></td>
            <td ng-bind="category.name"></td>
            <td ng-bind="category.slug"></td>
            <td class="text-center">
              <div class="btn-group btn-group-xs">
                <button ng-click="vm.editCategory(category)" class="btn btn-default">
                  <i class="fa fa-pencil"></i>
                </button>
                <button ng-click="vm.openConfirmCategory(category)" class="btn btn-danger">
                  <i class="fa fa-times"></i>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="row">
      <div class="col-sm-5 hidden-xs">
        <div class="dataTables_info">
          <strong ng-bind="vm.total_items"></strong> <strong>items</strong>
        </div>
      </div>
      <div class="col-sm-7 col-xs-12 clearfix">
        <div class="dataTables_paginate paging_bootstrap" id="example-datatable_paginate">
          <%= ng_pagination "vm.total_items", "vm.params.page", "vm.params.per_page", "vm.refresh()" %>
        </div>
      </div>
    </div>
  </div>
  <%= render "admins/categories/modal_new_edit" %>
  <%= render "admins/categories/modal_confirm" %>
</div>
